<launch>
    <master auto="start"/>

    <param name="use_sim_time" value="true"/>

    <!-- Bag path + playback rate -->
    <arg name="bag" default="$(find lidar_segmentation)/data/lidar.bag"/>
    <arg name="rate" default="0.5"/>

    <!-- Play rosbag (always loop for demo) -->
    <node pkg="rosbag" type="play" name="player"
          args="--clock --loop --rate=$(arg rate) $(arg bag)"
          output="screen" />

    <!-- Segmentation node -->
    <node pkg="lidar_segmentation" type="segmentation_node.py"
          name="lidar_segmentation_node" output="screen" />

    <!-- RViz with config -->
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find lidar_segmentation)/segmentation.rviz"
          output="screen" />
</launch>
